@use "../../../../styles/colors";

.user-info-container {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    * {
      margin-right: 1em;
    }
    img {
      width: 40px;
      height: 40px;
    }
    .is-current-user-mark {
      background-color: colors.$moderate-blue;
      color: white;
      padding: 2px 5px 2px 5px;
      font-size: 12px;
    }
  }
  .btn {
    padding: 10px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
  }
  .reply.btn {
    color: colors.$moderate-blue;
  }
  .reply.btn:hover {
    color: colors.$light-grayish-blue;
  }
  .delete.btn {
    color: colors.$soft-red;
  }
}
