@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fraunces&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  background-image: url("../images/desktop/image-header.jpg");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  font-family: "Fraunces", serif;
}

.nav-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  font-size: 15px;
}

.nav-buttons-container .button {
  color: white;
}

.nav-buttons-container a {
  text-decoration: none;
  font-size: 18px;
}

.nav-buttons-container .button.contact {
  color: black;
  background-color: white;
  padding: 0.75em 2em 0.75em 2em;
  border-radius: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}
.header-text p {
  color: white;
  font-family: "Fraunces", serif;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.articles-containter {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: row;
  font-family: "Fraunces", serif;
}

.article-text-container {
  width: 50%;
  display: flex;
  justify-content: center;
  color: hsl(212, 27%, 19%);
}

.article-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
}

.article-image {
  width: 50%;
}
.article-image img {
  width: 100%;
  height: 100%;
}

.article-text h1 {
  font-size: 40px;
  margin-bottom: 10%;
}

.article-text p {
  font-size: 14px;
  color: hsl(232, 10%, 55%);
  margin-bottom: 10%;
}

.article-text a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(212, 27%, 19%);
  font-weight: 800;
}

.images-container {
  display: flex;
  flex-direction: row;
}

.image-box {
  width: 50%;
  min-height: 50vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-family: "Fraunces", serif;
}

.image-box img {
  width: 100%;
  height: 100%;
}

.image-box-text {
  width: 75%;
  padding-bottom: 10vw;
}

.image-box-text h3 {
  font-size: 30px;
}

.image-box-text p {
  font-family: "Barlow", serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.image-box.graphic {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-box-text.graphic {
  color: hsl(167, 40%, 24%);
}

.image-box.photography {
  background-image: url("../images/desktop/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-box-text.photography {
  color: hsl(198, 62%, 26%);
}
