@use "../../../../styles/colors";

.vote {
  width: 40px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: colors.$light-gray;
  .vote-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  p {
    color: colors.$moderate-blue;
    font-weight: bold;
  }
}
